<div ng-style="{'background-color' : backgroundColor}" class="game-background">
        
        <div class="start-menu">
            
            <h3 class="title"> Hazy Colors </h3>

            <p> Click on the button which has the same name as the page's background color. </p>
            
            <p> In strike mode, the game goes on until you get 3 incorrect responses. </p>
            
            <p> In timed mide, the game lasts 60 seconds. </p>

            <button class="button play-button" ng-click="goStrike()"> Strike Mode </button>
            
            <button class="button play-button" ng-click="goTimed()"> Timed Mode </button>
            
        </div>
        
    </div>
