<div ng-style="{'background-color' : backgroundColor}" class="game-background">
        
        <div ng-hide="playing || gameOver" class="start-menu">
            
            <h3 class="title"> Hazy Colors </h3>

            <p> Click on the button which has the same name as the page's background color. </p>

            <p> In timed mode, your score is based on how many correct responses you give in 60 seconds. </p>
            
            <p> You also lose points for incorrect responses, so think carefully! </p>

            <button class="button play-button" ng-click="startGame()"> Play Game </button>
            
            <button class="button play-button" ng-click="goHome()"> Select Mode </button>
            
        </div>
    
        <div ng-show="playing" class="game-container">
            
            <h4 class="time"> Time Remaining: {{60 - seconds}} seconds </h4>

            <button ng-style="{'background-color' : buttonOneColor}" ng-click="answer(buttonOne)" class="button game-button"> {{buttonOne}} </button>

            <button ng-style="{'background-color' : buttonTwoColor}" ng-click="answer(buttonTwo)" class="button game-button"> {{buttonTwo}} </button>
            
            <p class="score"> Correct: {{score}}</p>
            
            <p class="strikes">Incorrect: {{strikes}}</p>

        </div>
        
        
        <div ng-if="gameOver" ng-hide="playing" class="start-menu">
            <h3 class="title"> Hazy Colors </h3>
            
            <h3 class="final-score" ng-show="finalScore !== 0"> Score: {{finalScore}} </h3>
            
            <p class="final-score-info"> Correct Responses: {{score}} </p>
            
            <p class="final-score-info"> Incorrect Responses: {{strikes}} </p>
            
            
            <button class="button play-button" ng-click="startGame()"> Play Again </button>
            
            <button class="button play-button" ng-click="goHome()"> Select Mode </button>
            
        </div>
        
    </div>
