*{
    margin: 0px;
}

html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 100vh;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    height: 100%;
}

.fixed-header{
    position: fixed;
    top: 0;
    background-color: #0093ff;
    color: white;
    width: 100%;
    z-index: 5;
    text-align: center;
    margin: 0px;
}

.header{
    z-index: 5;
    background-color: #0093ff;
    padding: 20px 0px;
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

.title{
    color: black;
}

.score{
    color: black;
    padding-top: 10px;
    margin: 0px;
    font-weight: bold;
}

.main{
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: purple;
}

.start-menu{
    padding: 20px;
    margin: 0px auto;
    text-align: center;
    color: #0093ff;
    border-radius: 10px;
    font-weight: bold;
}

.play-button{
    color: black;
}

.game-container{
    padding: 20px 20px;
    margin: 0px auto;
    text-align: center;
    color: white;
    border-radius: 10px;
    align-content: center;
}

.time{
    color: black;
}

.game-button{
    color: black;
    margin: 10px 10px;
    font-weight: bold;
    width: 150px;
    background-color: black;
    font-size: 1.1em;
    border-radius: 5px;
    border: 2px solid black;
}

.game-button:focus{
    border: 2px solid black;
}

.play-button:hover{
    background-color: #0093ff;
}

.result, .strikes{
    color: black;
    font-weight: bold;
    margin: 0px;
}

.strikes{
    margin-top: 15px;
}

.strikes, .score{
    font-size: 1.1em;
}

.game-background{
    padding: 0px;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: white;
    -webkit-transition:background 1s;
    -moz-transition:background 1s;
    -o-transition:background 1s;
    transition:background 1s;
}

.final-score{
    color: #0093ff;
}

.final-score-info{
    margin-bottom: 20px;
    color: #0093ff;
    font-size: 1.1em;
    font-weight: bold;
}

@media (max-width: 800px) {
    
    .game-background{
        padding: 20px;
    }
    
    .start-menu{
        padding: 10px;
    }
}

